body {
  background-color: #ffffff;
  color: #1a1a1a;
  font-family: "Inter", sans-serif;
}
.hero-gradient {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero.webp"); */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("img/hero.webp");
  background-size: cover;
  background-position: center;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-line {
  display: block;
  opacity: 0;
  animation: slideIn 0.8s ease-out forwards;
}

/* Delay berurutan tiap baris */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.8s;
}

.portfolio-card:hover .portfolio-overlay {
  opacity: 1;
}

.kinetic-text {
  letter-spacing: -0.02em;
}

/* Shadow Glow Merah Tipis untuk Text Highlight */
.glow-red {
  text-shadow:
    0 0 6px rgb(219, 3, 53),
    0 0 30px rgba(219, 3, 53, 0.4);
}

.glow-white {
  text-shadow:
    0 0 3px rgb(255, 255, 255),
    0 0 13px rgb(194, 194, 194);
}
